:root {
  font-family: "Ubuntu", cursive;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --wrong: #9f3647;
  --correct: rgb(60, 179, 113);
  --a:#10002B;
  --b:#240046;
  --c:#3C096C;
  --d:#5A189A;
  --e:#7B2CBF;
  --f:#9D4EDD;
  --g:#C77DFF;
  --h:#E0AAFF;
}

body {
  background-color: rgb(238,238,238);
}
/*
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
*/
.no-border {
  border: 0;
  background-color: transparent;
  box-shadow: none;
}

.wrong-answer{
  border: 1px solid var(--wrong);
}

.correct-answer{
  border: 1px solid var(--correct);
}


/* ==================================== MAINNAV ==================================== */

#mainNav {
  width: 101%;
  position: fixed;
  top: 0px;
  z-index: 10000;
}

/* =================================== CONTAINER =================================== */
#mainContainer {
  margin-top: 10rem;
}

/* ===================================== TABLE ===================================== */
td.table-secondary {
  background-color: var(--e);
}

td.table-secondary input{
  color:white;
  text-align: center;
}


td#clueword.table-primary {
  background-color: var(--c);
}

td#clueword.table-primary input{
  background-color: transparent;
  color:white;
  border:0;
  font-weight: bold;
  text-align: center;
}