:root {
  font-family: "Ubuntu", cursive;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --wrong: #9f3647;
  --correct: rgb(60, 179, 113);
  --a:#10002B;
  --b:#240046;
  --c:#3C096C;
  --d:#5A189A;
  --e:#7B2CBF;
  --f:#9D4EDD;
  --g:#C77DFF;
  --h:#E0AAFF;
}

body {
  color: var(--a);
}

.no-border {
  border: 0;
  background-color: transparent;
  box-shadow: none;
}

.table>:not(caption)>*>* {
  padding: 0;
}

/* ==================================== MAINNAV ==================================== */

#mainNav {
  width: 101%;
  position: fixed;
  top: 0px;
  z-index: 10000;
}

.navbar.bg-body-tertiary {
  background-color: #111;
}

/* =================================== CONTAINER =================================== */
#mainContainer {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: var(--h);
}

#mainContainer.container-fluid{
  background-color: var(--h);
}
/* ===================================== TABLE ===================================== */
td.table-secondary {
  background-color: var(--e);
  border: 0.5px solid var(--d);
  
}

td.table-secondary:hover{
  background-color: var(--f);
}

td.table-secondary input{
  color:white;
  text-align: center;
}

td#clueword.table-primary {
  background-color: var(--c);
  border: 0.5px solid var(--a);
}

.form-control:disabled {
  background-color: var(--f);
}

td#clueword.table-primary input{
  background-color: transparent;
  color:white;
  border:0;
  font-weight: bold;
  text-align: center;
}

.wrong-answer{
  border: 1px solid var(--wrong);
}

.correct-answer{
  font-weight: bold;
  border:none;
}

#cpuzzle {
  overflow-x: hidden;
}

/* ==================================== BUTTONS ===================================== */
.btn.btn-primary {
  color: var(--h);
  background-color: var(--a);
  border: 1px solid var(--c);
}

.btn.btn-primary:hover {
  background-color: var(--c);
}

/* ===================================== FOOTER ===================================== */
footer {
  background-color: var(--a);
  color: var(--h);
}

footer a {
  color:var(--h);
  text-decoration: none;
  font-weight: bold;
}

/* ==================================== SCROLLBAR =================================== */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--g);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--b);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--c);
}